
/* --- Initializing Tailwind css in the project -- */
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: #d3e5ed64;
}
/* -- Admin Header styles -- */
.admin--header {
    width: 250px;
    height: 100%;
    background: #042e42;
    position: fixed;
    top: 3.5rem;
    padding: 20px;
    color: #fff;
    border-top-right-radius: 8px;
}

.admin--header .sidenavs {
    padding: 5px;
}

 .sidenavs ul {
    list-style: none;
    padding: 10px;
    display: flex;
    flex-direction: column;     
}
 .sidenavs ul li i{
    padding: 0px 0 5px 0;
    margin-right: 10px;
    font-size: 22px;
}
 .sidenavs ul li {
    padding: 15px;
    display: flex;
}

.sidenavs ul li:hover {
    background: #0c3a4f;
    border-radius: 2px;
    cursor: pointer;
}
.sidenavs ul li:active {
    transition: 0.3s;
    transform: scale(0.9);
}

/* -- Home contents styles -- */


.admin-home .admin-home-contents {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.admin-home .admin-home-contents .admin-home-header {
    width: 85%;
    height: 50px;
    background: #042e42;
    border-radius: 3px;
    box-shadow: -1px 2px 10px 2px #00121b;
    position: relative;
    top: 0;
    right: 5px;
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    align-items: center;
}

.admin-home .admin-home-contents .admin-home-header .search-bar {
    width: 30%;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    left: 50px;
}

.admin-home .admin-home-contents .admin-home-header .search-bar input {
    background: none;
    padding: 5px 20px 5px;
    width: 85%;
    border: 1px solid #45c3fd;
    border-radius: 3px;
    color: #fff;
}

.admin-home .admin-home-contents .admin-home-header .search-bar input:focus {
    background: #002b3e;
}

.admin-home .admin-home-contents .admin-home-header .search-bar button {
    display: flex;
    font-size: 25px;
    color: #039cde;
    margin-left: 20px;
}

.admin-home-contents .admin-home-header .header-navs {
    display: flex;
}

.admin-home-contents .admin-home-header .header-navs ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin-home-contents .admin-home-header .header-navs ul li {
    padding: 8px;
    border: 1px solid #005479;
    margin-left: 10px;
    border-radius: 50%;
    color: #0f7797; 
}

.admin-home-contents .admin-home-header .header-navs ul li:hover {
    background-color: #005479;
    transition: 0.1s ease-in;
    cursor: pointer;
    color: #fff;
}

.admin-home-contents .admin-home-header, .admin-view {
    width: 15%;
    height: 50px;
    background-color: #042e42;
    box-shadow: 0px 2px 10px 2px #00121b;
    border-radius: 3px;
    position: relative;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.admin-home-contents .admin-home-header .admin-view, .admin-profile {
    width: 26%;
    height: 100%;
    border: 1px solid #6994a9;
    border-radius: 50%;
    position: relative;
    left: 30px;
}
.admin-home-contents .admin-home-header .admin-view,
button{
    display: flex;
    margin-left: 50px;
    margin-right: 20px;
    font-size: 22px;
}

/* -- Admin Home Content styles -- */

